body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FEFFFF;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  transition: background-color .6s linear;
}

.dark {
  background-color: #0e171a;
}

.main-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.header {
  height: 100px;
  background-color: #2B7A78;
}

.main {
  padding: 100px 40px 40px;
  min-height: 200px;
  background-color: #DEF2F1; /* #17252A */
}

.canvas {
  width: 100%;
  height: 120vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header {
  position: relative;
}

.btnMagic {
  position: absolute;
  left: 92%;
  top: 128px;
  transform: translate(-50%, 0);

  border: none;
  outline: none;
  border-radius: 20px;
  width: 70px;
  height: 40px;
  background-color: #3AAFA9;

  color: none;
  font-size: 16px;

  cursor: pointer;
  transition: transform .3s linear;

  position: relative;
}

.btnMagic::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #2B7A78;

  transition: left .2s linear;
}

.dark .btnMagic::after {
  left: 35px;
}

.btnMagic:hover {
  background-color: #1f333a;
}

.btnMagic:active {
  background-color: #2B7A78;
}

.dark .btnMagic:hover {
  background-color: #3AAFA9;
}

.dark .btnMagic:active {
  background-color: #17252A;
}

.footer {
  height: 100px;
  background-color: #2B7A78;
}

.frontground {
  height: 100%;
  background-color: none;
  width: 100%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  transition: opacity .5s linear;
}

.frontground-none {
  opacity: 0;
}

.dark .main {
  background-color: #17252A;
}

.dark .btnMagic {
  background-color: #0e171a;
}